body{
font-family: Arial;
      background-color: #f2f2f2;
      text-align: center;
      padding-top: 50px;  

}
#box{
    text-align: center;
    width: 350px;
    height: 450px;
    font-family: Arial;
   border-radius: 20px;
   border-style: solid;
   border-width: 2px;
   border-color: #f2f2f2;
background-color:white ;
margin-left: 100px;
margin-top: 20px;
margin-bottom: 40px;
}
#header{
    padding-top: 20px;
}
#input1{

}input {
  width: 250px;
  height: 30px;
  font-size: 18px;
  text-align: center;
}

#input2{

}
#one{
background-color: green;
color: #f2f2f2;
width: 130px;
height: 40px;
border-radius: 10px;
border-color: #f2f2f2;
font-size: medium;
cursor: pointer;
}
#two{
    background-color: green;
color: #f2f2f2;
width: 130px;
height: 40px;
border-radius: 10px;
border-color: #f2f2f2;
font-size: medium;
cursor: pointer;
}
#three{
   background-color: green;
color: #f2f2f2;
width: 130px;
height: 40px;
border-radius: 10px;
border-color: #f2f2f2;
font-size: medium;
  margin-top: 10px;
  cursor: pointer;
}
#four{
   background-color: green;
color: #f2f2f2;
width: 130px;
height: 40px;
border-radius: 10px;
border-color: #f2f2f2;
font-size: medium; 
cursor: pointer;
}
#result{
    margin-top: 10px;
      font-size: 18px;
      color: darkblue;
}